@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.navbar .links a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

.navbar .links a:hover {
  text-decoration: underline;
}

.content {
  padding: 2rem;
}


/* AddProduct.css */
/* App.css */
@media print {
  body * {
    visibility: hidden; /* Hide everything by default */
  }
  #print-section,
  #print-section * {
    visibility: visible; /* Show only the print section */
  }
  #print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center; /* Center-align all text */
  }
  #print-section h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #print-section p {
    font-size: 18px;
    margin: 5px 0;
  }
  #print-section hr {
    margin: 10px 0;
  }
  .print-page-break {
    page-break-after: always; /* Ensures each label is printed on a new page */
  }
  .print-section {
    display: block !important; /* Show only during printing */
  }
}

.print-section {
  display: none; /* Hide in normal UI */
}
